@font-face {
  font-family: "Encode Sans", sans-serif;
  src: url(../fonts/EncodeSans-VariableFont_wdth-wght.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../fonts/Poppins-Bold.ttf);
  src: url(../fonts/Poppins-ExtraBold.ttf);
  src: url(../fonts/Poppins-ExtraLight.ttf);
  src: url(../fonts/Poppins-Italic.ttf);
  src: url(../fonts/Poppins-Light.ttf);
  src: url(../fonts/Poppins-LightItalic.ttf);
  src: url(../fonts/Poppins-Medium.ttf);
  src: url(../fonts/Poppins-MediumItalic.ttf);
  src: url(../fonts/Poppins-Regular.ttf);
  src: url(../fonts/Poppins-SemiBold.ttf);
  src: url(../fonts/Poppins-SemiBoldItalic.ttf);
  src: url(../fonts/Poppins-Thin.ttf);
  font-size: 100, 200, 300, 400, 500, 600, 700, 800, 900;
}
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: $color-light;
}
/*Titles*/
.title {
  color: $gray-dark;
  font-stretch: normal;
  font-style: normal;
  &__h2 {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.78px;
    text-align: center;
    text-transform: uppercase;
    margin: 32px 0;
  }
  &__h4 {
    font-size: 1rem;
    font-weight: 500;

    line-height: 1.56;
    letter-spacing: 0.48px;
    text-align: left;
  }
  &__h5 {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.42px;
    text-align: left;
  }
}
/*Paragraph*/
p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.48px;
  text-align: center;
}
/*Wrapper*/
.wrapper {
  padding: 0 $wrapper-space;
}
