@mixin button($background-color, $border, $border-radius, $color) {
  align-items: center;
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: 1px 2px 8px 0px $gray-light;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $color;
  display: inline-block;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  min-width: 240px;
  padding: 0px 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    background-color: $color-on-principal;
    box-shadow: 2px 4px 8px 1px $gray-light;
  }
  @include button-text($font-weight-button, $font-size-button);
}
@mixin button-line($border, $border-radius, $color) {
  align-items: center;
  border: $border;
  border-radius: $border-radius;
  color: $color;
  display: inline-block;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  min-width: 240px;
  padding: 0px 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  @include button-text($font-weight-button, $font-size-button);
}
@mixin button-text($font-weight, $font-size) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: "Poppins";
  line-height: 1.5;
  letter-spacing: 1.25px;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}
@mixin button-hover($background-color, $color) {
  background-color: $background-color;
  color: $color;
  box-shadow: 2px 4px 8px 1px $gray-light;
  text-decoration: none;
}
@mixin button-line-hover($border, $color) {
  border: $border;
  color: $color;
  text-decoration: none;
}
@mixin button-icon($color, $fontsize) {
  color: $white;
  font-size: $font-size-button;
  font-weight: 600;
  padding: 0 8px;
}
@mixin bg-card($width, $height, $margin, $border-radius) {
  width: $width;
  height: $height;
  margin: $margin;
  border-radius: $border-radius;
  -moz-backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 4px 4px 12px 0 #0000000d;
  border: solid 1px #ffffff33;
  background-image: linear-gradient(117deg, #ffffff29 -2%, #ffffff0d 103%);
}
@mixin colapsables($background-color, $color, $border, $font-size) {
  display: block;
  background-color: $background-color;
  color: $color;
  cursor: pointer;
  padding: 1.2em;
  width: 100%;
  border: $border;
  text-align: left;
  outline: none;
  font-size: $font-size;
  transition: background 0.4s;
}
