#dicen {
  top: 717px;
  width: 100vw;
  height: 1080px;
  background: transparent url("../../img/bg_dicen.png") 0% 0% no-repeat
    padding-box;
  border-radius: 120px;
  .title__h2 {
    margin: 120px 0;
  }
}
.wrapper__cards {
  padding: 30px 0;
}
