.hero {
  text-align: center;
  padding-bottom: 2em;
  &__img {
    height: 320px;
    background-image: url(../../img/me.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px;
    margin-top: -32px;
  }
  button {
    margin-top: -114px;
  }
}
