#recomendaciones {
  width: 100%;
  height: 100%;
  background: cover;
  background-image: url("../img/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -400px;
  .title__h2 {
    margin: 120px 0;
  }
  .slider {
    width: 360px;
    margin: auto;
    padding: 200px 0 100px 0;
    overflow: hidden;
    &__card {
      margin: auto;
      display: flex;
      width: 1080px;
      padding: 0;
      animation: cambio 10s infinite alternate;
      animation-timing-function: ease-in-out;
    }
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -360px;
  }
  65% {
    margin-left: -360px;
  }
  70% {
    margin-left: -720px;
  }
  100% {
    margin-left: -720px;
  }
}
@media only screen and (min-width: $screen_medium) {
  #recomendaciones {
    .slider {
      width: 720px;
    }
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -360px;
    }
    45% {
      margin-left: -360px;
    }
    50% {
      margin-left: 0px;
    }
    70% {
      margin-left: 0px;
    }
    75% {
      margin-left: -360px;
    }
    100% {
      margin-left: -360px;
    }
  }
}
@media only screen and (min-width: $screen_xlarge) {
  #recomendaciones {
    .slider {
      width: 1080px;
      margin: 0 auto;
    }
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
}
