.card {
  @include bg-card(320px, 172px, 52px auto, 16px);
  z-index: 5;
  &__avatar {
    position: absolute;
    left: 20px;
    margin-top: -40px;
  }
  .title__h4 {
    margin: 16px 16px 4px 120px;
  }
  .title__h5 {
    margin: 0 16px 4px 120px;
  }
  &__copy {
    margin: 12px 16px 16px;
    font-family: $alternative-font;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-align: center;
  }
}
